{% extends 'base.html' %}{% block content %}
<div class="row" style="text-align: center">
  <div class="col">
    <h1 style="float: none; text-align: center">CAMERA APP</h1>
    <div class="row">
      <div class="col">
        <form action="{{ url_for('tasks') }}" method="post">
          <input type="submit" value="Stop/Start" name="stop" />
          <input type="submit" value="Grey" name="grey" />
          <input type="submit" value="Negative" name="negative" />
          <input type="submit" value="Blue" name="blue" />
          <input type="submit" value="Red" name="red" />
        </form>
      </div>
    </div>
    <div class="col" style="text-align: center; height: auto">
      <img src="{{ url_for('video_feed') }}" style="height: 80%" />
    </div>
    <ul
      class="list-group list-group-flush list-group-numbered"
      style="text-align: left"
    >
      <li class="list-group-item">
        <span class="badge">14</span>Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">2</span>Dapibus ac facilisis in
      </li>
      <li class="list-group-item">
        <span class="badge">1</span>Morbi leo risus
      </li>
    </ul>
  </div>
</div>
{% endblock %}
