{% extends 'base.html' %}{% block content %}
<div class="row" style="text-align: center">
  <div class="col">
    <h1 style="float: none; text-align: center">CAMERA APP</h1>
    <div class="row">
      <div class="col">
        <form action="{{ url_for('tasks') }}" method="post">
          <input
            class="btn btn-outline-primary"
            type="submit"
            value="Stop/Start"
            name="stop"
            style="margin-right: 1rem"
          />
          <input
            class="btn btn-outline-primary"
            type="submit"
            value="Grey"
            name="grey"
            style="margin-right: 1rem"
          />
          <input
            class="btn btn-outline-primary"
            type="submit"
            value="Negative"
            name="negative"
            style="margin-right: 1rem"
          />
          <input
            class="btn btn-outline-primary"
            type="submit"
            value="Blue"
            name="blue"
            style="margin-right: 1rem"
          />
          <input
            class="btn btn-outline-primary"
            type="submit"
            value="Red"
            name="red"
            style="margin-right: 1rem"
          />
          <input
            class="btn btn-outline-primary"
            type="submit"
            value="Yellow"
            name="yellow"
          />
        </form>
        <div class="col bg-danger">
          <img src="{{ url_for('video_feed') }}" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
